
<div class=".container-fluid">
    <div style="background-color: #C5C9B8;padding: 0 0 2rem;">
        <div class="wrapper" style="text-align:center;">
            <ul class="nav nav-tabs" >
                <li role="presentation" class="active"><a routerLink="/section">Section</a></li>
                <li role="presentation" ><a routerLink="/To-Do">To-Do</a></li>
                <li role="presentation" ><a href="#">Add Menu</a></li>
            </ul>
        </div>
    </div>

</div>
<router-outlet></router-outlet>
